@import "materialize";

.App-body {
  display: flex;
  margin: 24px;
  justify-content: space-around;
}

.side-panel {

  list-section:not(:first-child) {
    margin-top: 24px;
  }
}

.list-section {
  //
}

.list {
  margin-left: 8px;
}

.list_header {
  font-weight: bold;
}

.list_item {
  margin-bottom: 12px;
  margin-top: 12px;

  span:not(:first-child) {
    margin-left: 12px;
  }
}
